.carousel {
	width: 100%;
	max-width: 100%;
	height: 100%;
}

.crew {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: $spacing-base;
	width: 100%;
	height: 100%;

	@media (max-width: 992px) {
		flex-direction: column;
	}

	&-text-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: $spacing-base;
		width: 45.5rem;
		padding: $spacing-base;

		@media (max-width: 992px) {
			width: 30rem;
		}

		h3,
		p {
			width: 100%;

			@media (max-width: 992px) {
				text-align: center;
			}
		}
	}

	&-role {
		display: flex;
		flex-direction: row;
		width: 13.375rem;
		font-family: $bellefair;
		font-size: $font-size-xxl;
		color: $veryPaleBlue;
		text-transform: uppercase;

		@media (max-width: 992px) {
			justify-content: center;
			font-size: $font-size-xl;
		}
	}

	&-name {
		display: flex;
		flex-direction: row;
		width: 30.5rem;
		font-family: $bellefair;
		font-size: 3.5rem;
		color: $white;
		text-transform: uppercase;

		@media (max-width: 992px) {
			justify-content: center;
			font-size: $font-size-xxl;
		}
	}

	&-bio {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 27.75rem;
		padding: $spacing-base 0;
		font-size: $font-size-lg;
		color: $veryPaleBlue;
		text-align: left;

		@media (max-width: 992px) {
			justify-content: center;
			font-size: $font-size-base;
		}
	}

	&-image-section {
		width: 35.5rem;
		height: 44.5rem;

		@media (max-width: 992px) {
			width: 18.75rem;
			height: 100%;
		}
	}

	&-image {
		width: 100%;
		height: 100%;
	}
}

.control-dots {
	display: flex;
	width: auto;
	padding: 0 $spacing-base;
	transform: translate(0.0625rem, -5rem);

	@media (max-width: 992px) {
		justify-content: center;
		transform: translateY(-28rem);
	}
}
